<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	cropToFit="false"
	galleryTitle="Inventory"
	indexPageName="inventory.md"
	useFullscreenExpand="true"
	maxImageWidth="650"
	maxImageHeight="1000"
	showThumbsButton="false"
	galleryWidth="100"
	galleryHeight="100"
	showExpandButton="false"
	useThumbDots="true"

>
  <image imageURL="images/jellybean.jpg"
	thumbURL="thumbs/jellybean.jpg"
	linkURL="images/jellybean.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Owner\Documents\GitHub\website\files\inventory\jellybean.jpg">
    <title><![CDATA[Jelly Bean]]></title>
    <caption><![CDATA[The Jelly Bean switch features a 2.5-in activation surface and is recommended for users who are able to access a smaller target area.]]></caption>
  </image>
  <image imageURL="images/blue2.jpg"
	thumbURL="thumbs/blue2.jpg"
	linkURL="images/blue2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Owner\Documents\GitHub\website\files\inventory\blue2.jpg">
    <title><![CDATA[Blue2]]></title>
    <caption><![CDATA[Blue2 allows you to quickly and easily connect one or two accessibility switches to your device via a Bluetooth connection.]]></caption>
  </image>
  <image imageURL="images/buddybutton.jpg"
	thumbURL="thumbs/buddybutton.jpg"
	linkURL="images/buddybutton.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Owner\Documents\GitHub\website\files\inventory\buddybutton.jpg">
    <title><![CDATA[Buddy Button]]></title>
    <caption><![CDATA[The Buddy Button is a durable and reliable single switch that requires only the slightest touch of its 2.5-in surface for activation.]]></caption>
  </image>
  <image imageURL="images/jellybeamer.jpg"
	thumbURL="thumbs/jellybeamer.jpg"
	linkURL="images/jellybeamer.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Owner\Documents\GitHub\website\files\inventory\jellybeamer.jpg">
    <title><![CDATA[Jelly Beamer]]></title>
    <caption><![CDATA[The Jelly Beamer Twist Transmitter is a wireless switch that brings reliable, immediate switch access without the hassle of cords.]]></caption>
  </image>
  <image imageURL="images/pouringcups.jpg"
	thumbURL="thumbs/pouringcups.jpg"
	linkURL="images/pouringcups.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Owner\Documents\GitHub\website\files\inventory\pouringcups.jpg">
    <title><![CDATA[Pouring Cups]]></title>
    <caption><![CDATA[Mix it up with a switch-activated pouring cup that allows users to participate in cooking classes or dramatic play.]]></caption>
  </image>
  <image imageURL="images/powerlink4.jpg"
	thumbURL="thumbs/powerlink4.jpg"
	linkURL="images/powerlink4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Owner\Documents\GitHub\website\files\inventory\powerlink4.jpg">
    <title><![CDATA[Powerlink 4]]></title>
    <caption><![CDATA[AbleNet Powerlink 4 Switch Control Unit grants users the control of two different electrical appliances with individual switches in their switch interface.]]></caption>
  </image>
  <image imageURL="images/scissors.jpg"
	thumbURL="thumbs/scissors.jpg"
	linkURL="images/scissors.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Owner\Documents\GitHub\website\files\inventory\scissors.jpg">
    <title><![CDATA[Adaptive Scissors]]></title>
    <caption><![CDATA[These easy-to-use switch adapted scissors make class participation and craft activities possible.]]></caption>
  </image>
  <image imageURL="images/skoog.jpg"
	thumbURL="thumbs/skoog.jpg"
	linkURL="images/skoog.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Owner\Documents\GitHub\website\files\inventory\skoog.jpg">
    <title><![CDATA[Skoog]]></title>
    <caption><![CDATA[The Skoog is a customizable electronic musical instrument that has been designed to be inclusive and accessible – especially to those unable to play conventional musical instruments.]]></caption>
  </image>
  <image imageURL="images/specs.jpg"
	thumbURL="thumbs/specs.jpg"
	linkURL="images/specs.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Owner\Documents\GitHub\website\files\inventory\specs.jpg">
    <title><![CDATA[Specs Switches]]></title>
    <caption><![CDATA[With a 1 3/8-in activation surface, the Specs switch is small enough to be worn, but is most often used as a mounted switch.]]></caption>
  </image>
  <image imageURL="images/bigred.jpg"
	thumbURL="thumbs/bigred.jpg"
	linkURL="images/bigred.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Owner\Documents\GitHub\website\files\inventory\bigred.jpg">
    <title><![CDATA[Big Red]]></title>
    <caption><![CDATA[The Big Red switch provides a large 5-in activation surface that activates with 5.5-oz of force.]]></caption>
  </image>
</juiceboxgallery>