---
---
@import "{{ site.theme }}";
h1 {font-family: Arial, Helvetica, sans-serif;
    font-size:1.0em;
    text-align: center;}
h2 {font-family: Arial, Helvetica, sans-serif;
    font-size:1.75em;
    margin:10px 0; 
    text-align: center;} 
p {
    color: black;
    font-size: 1.25em;
    text-align: left;
}
/* Navigation Buttons */
.button1 {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #327ace;
  }
  
  .button1:hover {
    background-color: #327ace;
    color: white;
  }


/*	Username & Password TABLE	*/
#LINKTABLE {
	font-family:"Segoe UI",Arial,sans-serif;
	border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  color: black;
}

#LINKTABLE td, #LINKTABLE th {
	border: 1px solid #ddd;
	padding: 8px;
}

#LINKTABLE tr:nth-child(even){background-color: #f2f2f2;}
#LINKTABLE tr:hover {background-color: #ddd;}

#LINKTABLE th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #779fce;
  font-size: 18px;
  color: black;
}

/* TOOLTIPS */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
